:root {
    --main-text-color: #e0e0ff;
    --main-app-bg-color: #101020;

    --main-sidebar-bg: #080815;
    --main-chat-selector-bg: #141428;
    --main-chat-bg: #202035;
    --main-chat-info-bg: #151530;
}