:root {
    --main-text-color: #e0e0ff;
    --main-app-bg-color: #101020;

    --main-sidebar-bg: #080815;
    --main-chat-selector-bg: #141428;
    --main-chat-bg: #202035;
    --main-chat-input-bg: #202035;
    --main-chat-upload-bg: #202035;
    --main-chat-upload-hover-bg: #404055;
    --main-chat-upload-active-bg: #606075;
    --main-chat-info-bg: #151530;

    --main-sidebar-hover-color: #ffffff;
    --main-sidebar-selected-color: #ff0000;
    --main-sidebar-hover-selected-color: #ffc0c0;

    --main-chat-selector-default-color: #e0e0ff;
    --main-chat-selector-hover-color: #ffffff;
    --main-chat-selector-selected-color: #ff0000;
    --main-chat-selector-selected-bg: #303045;

    --main-chat-selector-scroll-bg: #202035;
    --main-chat-selector-scroll-color: #e0e0ff;
    --main-chat-selector-scroll-color-hover: #ff0000;
}