* {
    color: var(--main-text-color);
    background-color: var(--main-app-bg-color);
    font-family: Arial, sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#goofy-server-popup {
    display: none;
    position: fixed;
    top: 50px;
    left: 80px;
    padding: 5px;
    border: 1px solid red;
    z-index: 10;
}

#main-app-container {
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);
    display: grid;
    border: 1px solid blue;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-app-bg-color);

    /*Shouldn't occur*/
    overflow: hidden;
}

#main-sidebar {
    border: 1px solid red;
    background-color: var(--main-sidebar-bg);
    overflow-x: visible;
    overflow-y: auto;
}

/*Hide the scrollbar*/
#main-sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
#main-sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#main-chat-selector {
    border: 1px solid green;
    background-color: var(--main-chat-selector-bg);
    overflow-y: scroll;
}

/*Change the scrollbar*/
#main-chat-selector::-webkit-scrollbar {
    width: var(--main-chat-selector-scroll-size);
}

/*Change the scrollbar track*/
#main-chat-selector::-webkit-scrollbar-track {
    background-color: var(--main-chat-selector-scroll-bg);
}

/*Change the scrollbar thumb*/
#main-chat-selector::-webkit-scrollbar-thumb {
    background-color: var(--main-chat-selector-scroll-color);
    border-radius: var(--main-chat-selector-scroll-size);
}

/*Change the scrollbar thumb on hover*/
#main-chat-selector::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-chat-selector-scroll-color-hover);
}

#main-chat-content {
    border: 1px solid orange;
    background-color: var(--main-chat-bg);
    overflow-y: scroll;
}

/*Change the scrollbar*/
#main-chat-content::-webkit-scrollbar {
    width: var(--main-chat-selector-scroll-size);
}

/*Change the scrollbar track*/
#main-chat-content::-webkit-scrollbar-track {
    background-color: var(--main-chat-selector-scroll-bg);
}

/*Change the scrollbar thumb*/
#main-chat-content::-webkit-scrollbar-thumb {
    background-color: var(--main-chat-selector-scroll-color);
    border-radius: var(--main-chat-selector-scroll-size);
}

#main-chat-info {
    border: 1px solid yellow;
    background-color: var(--main-chat-info-bg);
    overflow: hidden;
}

.hidden-ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.hidden-ul > li {
    padding: 0px;
    margin: 0px;
}



.sidebar-entry {
    width: 80%;
    padding: 0px;
    margin: var(--main-sidebar-margin-vert) auto var(--main-sidebar-margin-vert) auto;
    display: block;
    border-radius: 30%;
}


.chat-selector-entry {
    width: 90%;
    padding: var(--main-sidebar-margin-vert) 0px var(--main-sidebar-margin-vert) 0px;
    margin: 0px auto 0px auto;
    display: block;
}


/*Only Hover*/
.sidebar-entry:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 var(--main-sidebar-hover-color));
}
.chat-selector-entry:hover {
    color: var(--main-chat-selector-hover-color);
    background-color: var(--main-chat-selector-selected-bg);
}

/*Only active*/
.sidebar-entry-active {
    filter: opacity(0.5) drop-shadow(0 0 0 var(--main-sidebar-selected-color));
}
.chat-selector-entry-active {
    color: var(--main-chat-selector-selected-color);
}

/*Hover and active*/
.sidebar-entry-active:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 var(--main-sidebar-hover-selected-color));
}
.chat-selector-entry-active:hover {
    color: var(--main-chat-selector-selected-color);
}

