#main-app-container-chat {
    grid-template-columns:
            var(--main-sidebar-size)
            calc(var(--main-chat-selector-size) * var(--main-chat-show-selector))
            var(--main-chat-size)
            calc(var(--main-chat-info-size) * var(--main-chat-show-info));

    --main-sidebar-settings-height: calc(2 * (0.8 * var(--main-sidebar-size) + 2 * var(--main-sidebar-margin-vert)) - var(--main-sidebar-margin-vert));
}

#main-chat-info-header-toggle-chat-info {
    display: none;
}

@media (max-width: 850px) {
    #main-app-container-chat {
        --main-chat-chat-shown: calc(1 - var(--main-chat-show-info));

        grid-template-columns:
            var(--main-sidebar-size)
            calc(var(--main-chat-selector-size) * var(--main-chat-show-selector))
            calc((100% - var(--main-sidebar-size) - (var(--main-chat-selector-size) * var(--main-chat-show-selector))) * var(--main-chat-chat-shown))
            calc((100% - var(--main-sidebar-size) - (var(--main-chat-selector-size) * var(--main-chat-show-selector))) * var(--main-chat-show-info));
    }

    #main-chat-info-header-toggle-chat-info {
        display: block;
    }
}


/*--------------------------------------------------------*/

* {
    font-size: 26px;
}

:root {
    --main-app-height: 100%;

    --main-sidebar-size: 70px;
    --main-sidebar-margin-vert: 12px;

    --main-chat-selector-size: 250px;
    --main-chat-selector-scroll-size: 10px;
    --main-chat-selector-margin-vert: 5px;
    --main-chat-selector-padding: 10px;
    --main-chat-selector-settings-height: 5em;


    --main-chat-size: 1fr;
    --main-chat-info-size: 650px;
    --main-chat-margin-vert: 15px;
    --main-chat-padding: 5px;
    --main-chat-input-height: calc(3.6em + 10px);
    --main-chat-header-height: 40px;
    --main-chat-input-upload-size: 60px;
    --main-chat-font-size: 1.05em;


    --main-chat-show-selector: 1;
    --main-chat-show-info: 0;
    --main-chat-chat-shown: 1;

}


@media (max-width: 1800px) {
    * {
        font-size: 22px;
    }

    #main-app-container-chat {
        --main-chat-info-size: 500px;
        --main-chat-font-size: 1em;
    }
}

@media (max-width: 1600px) {
    * {
        font-size: 20px;
    }

    #main-app-container-chat {
        --main-chat-info-size: 400px;
        --main-chat-input-upload-size: 50px;
    }
}


@media (max-width: 1200px) {
    * {
        font-size: 18px;
    }

    #main-app-container-chat {
        --main-sidebar-size: 60px;
        --main-chat-selector-size: 180px;
        --main-chat-info-size: 350px;

        --main-sidebar-margin-vert: 10px;
        --main-chat-selector-scroll-size: 8px;

        --main-chat-selector-margin-vert: 3px;
        --main-chat-selector-padding: 8px;

        --main-chat-input-upload-size: 40px;
        --main-chat-font-size: 1.05em;
    }
}

@media (max-width: 900px) {
    * {
        font-size: 16px;
    }

    #main-app-container-chat {
        --main-sidebar-size: 55px;
        --main-chat-selector-size: 170px;
        --main-chat-info-size: 240px;

        --main-chat-margin-vert: 10px;
        --main-chat-padding: 4px;

        --main-sidebar-margin-vert: 10px;
        --main-chat-selector-scroll-size: 8px;
    }
}

@media (max-width: 680px) {
    * {
        font-size: 14px;
    }

    #main-app-container-chat {
        --main-sidebar-size: 50px;
        --main-chat-selector-size: 140px;
        --main-chat-info-size: 120px;

        --main-sidebar-margin-vert: 8px;
        --main-chat-selector-scroll-size: 4px;

        --main-chat-selector-margin-vert: 2px;
        --main-chat-selector-padding: 6px;

        --main-chat-input-upload-size: 30px;

        --main-chat-font-size: 1.1em;
    }
}


@media (max-width: 450px) {
    * {
        font-size: 10px;
    }

    #main-app-container-chat {
        --main-sidebar-size: 40px;
        --main-chat-selector-size: 100px;
        --main-chat-info-size: 120px;

        --main-sidebar-margin-vert: 6px;
        --main-chat-selector-scroll-size: 4px;

        --main-chat-selector-margin-vert: 2px;
        --main-chat-selector-padding: 5px;

        --main-chat-margin-vert: 6px;
        --main-chat-padding: 3px;

        --main-chat-font-size: 1.1em;
    }
}



@media (max-width: 300px) {
    * {
        font-size: 8px;
    }

    #main-app-container-chat {
        --main-sidebar-size: 30px;
        --main-chat-selector-size: 70px;
        --main-chat-info-size: 120px;

        --main-sidebar-margin-vert: 6px;
        --main-chat-selector-scroll-size: 4px;

        --main-chat-selector-margin-vert: 2px;
        --main-chat-selector-padding: 2px;
    }
}
